<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Stigespill</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<h1>Sigespill:</h1>
		<p th:text="|Spill nr ${spill.id}|"></p>
		
		<div class="spillbrett-wrapper">
		        <div th:each="s : ${spill.spillere}" 
		             class="spillerBrikke"
		             th:data-posisjon="${s.posisjon}"
					 th:data-start-posisjon="${s.getForrigePosisjon(sisteTrekk)}"
		             th:style="'background-color: ' + ${s.farge ?: 'red'}">
		             <span th:text="${#strings.substring(s.navn,0,1)}"></span>
		        </div>
		    </div>
		
		<form th:action="@{/spill/{id}/trill(id=${spill.id})}" method="post">
			<div th:if="${sisteTrekk != null}">
			    <span th:text="|${sisteTrekk.spillerNavn} trillet ${sisteTrekk.terningkast}|"></span>

			    <span th:if="${sisteTrekk.fraRute != sisteTrekk.tilRute}" 
			          th:text="|, fra ${sisteTrekk.fraRute} til ${sisteTrekk.tilRute}|"></span>
			    
			    <span th:if="${sisteTrekk.trekkType == 'STIGE'}" 
			          th:text="|(STIGE fra ${sisteTrekk.fraRute + sisteTrekk.terningkast} til ${sisteTrekk.tilRute})|"></span>
			          
			    <span th:if="${sisteTrekk.trekkType == 'SLANGE'}" 
			          th:text="|(SLANGE fra ${sisteTrekk.fraRute + sisteTrekk.terningkast} til ${sisteTrekk.tilRute})|"></span>
			          
			    <span th:if="${sisteTrekk.trekkType == 'START_BLOKKERT'}">. Du må trille 6 for å kunne gå ut av start.</span>
			    <span th:if="${sisteTrekk.trekkType == 'START_UT'}">. Gratulerer, endelig kan du gå ut av start!</span>
			    <span th:if="${sisteTrekk.trekkType == 'VINNER'}">. Gratulerer, du har vunnet!</span>
			    <span th:if="${sisteTrekk.trekkType == 'TRE_SEKSERE'}">. Tre seksere på rad, tilbake til start.</span>
			    
			    <p th:if="${sisteTrekk.terningkast == 6}">Du fikk 6, du kan trille en gang til.</p>
			</div>
			<button type="submit">Trill terning</button>
			
			<p></p>
			<h2>Alle trekk:</h2>
			<table>
				<tr th:each="t, index: ${trekklogg}">
					<td th:text="|${t.spillerNavn}:  ${t.fraRute} til ${t.tilRute}  |   "></td>
					<td th:if="${t.trekkType == 'STIGE'}">  (Stige)   </td>
					<td th:if="${t.trekkType == 'SLANGE'}">  (Slange)  </td>
					<td th:if="${t.trekkType == 'VINNER'}">  (VINNER)</td>
					<td th:if="${ t.trekkType == 'TRE_SEKSERE'}">  (Tre seksere på rad)</td>
				</tr>
			</table>
		</form>
		<script th:src="@{/spill.js}"></script>
	</body>
</html>