<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Stigespill</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div class="spill-container">
            
            <div class="spill-header">
                <h1>Stigespill</h1>
                <p th:text="|Spill nr ${spill.id}|" class="spill-id"></p>
            </div>
            
            <div class="spill-innhold">
                
                <div class="venstre-kolonne">
                    <form th:action="@{/spill/{id}/trill(id=${spill.id})}" method="post" class="spill-kontroller">
                        
                        <div class="hendelse-logg">
                            <span th:if="${sisteTrekk == null}">Klar til å starte! Trill terningen.</span>
                            <div th:if="${sisteTrekk != null}">
                                <span th:text="|${sisteTrekk.spillerNavn} trillet ${sisteTrekk.terningkast}|"></span>

                                <span th:if="${sisteTrekk.fraRute != sisteTrekk.tilRute}" 
                                      th:text="|, fra ${sisteTrekk.fraRute} til ${sisteTrekk.tilRute}|"></span>
                                
                                <span th:if="${sisteTrekk.trekkType == 'STIGE'}" 
                                      th:text="|(STIGE fra ${sisteTrekk.fraRute + sisteTrekk.terningkast} til ${sisteTrekk.tilRute})|"></span>
                                      
                                <span th:if="${sisteTrekk.trekkType == 'SLANGE'}" 
                                      th:text="|(SLANGE fra ${sisteTrekk.fraRute + sisteTrekk.terningkast} til ${sisteTrekk.tilRute})|"></span>
                                      
                                <span th:if="${sisteTrekk.trekkType == 'START_BLOKKERT'}">. Du må trille 6 for å kunne gå ut av start.</span>
                                <span th:if="${sisteTrekk.trekkType == 'START_UT'}">. Gratulerer, endelig kan du gå ut av start!</span>
                                <span th:if="${sisteTrekk.trekkType == 'VINNER'}">. Gratulerer, du har vunnet!</span>
                                <span th:if="${sisteTrekk.trekkType == 'TRE_SEKSERE'}">. Tre seksere på rad, tilbake til start.</span>
                                
                                <p th:if="${sisteTrekk.terningkast == 6}" class="ekstra-kast">Du fikk 6, du kan trille en gang til.</p>
                            </div>
                        </div>
                        
                        <button type="submit" class="trill-btn" th:if="${!spill.erFerdig()}">Trill terning</button>
                        
                        <div class="trekklogg-seksjon">
                            <h2>Alle trekk:</h2>
                            <div class="tabell-wrapper">
                                <table>
                                    <tr th:each="t, index: ${trekklogg}">
                                        <td th:text="|${t.spillerNavn}:  ${t.fraRute} til ${t.tilRute}|"></td>
                                        <td th:if="${t.trekkType == 'STIGE'}" class="trekk-stige">(Stige)</td>
                                        <td th:if="${t.trekkType == 'SLANGE'}" class="trekk-slange">(Slange)</td>
                                        <td th:if="${t.trekkType == 'VINNER'}" class="trekk-vinner">(VINNER)</td>
                                        <td th:if="${ t.trekkType == 'TRE_SEKSERE'}" class="trekk-slange">(Tre seksere på rad)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="hoyre-kolonne">
                    <div class="spillbrett-wrapper">
                        <div th:each="s : ${spill.spillere}" 
                             class="spillerBrikke"
                             th:data-posisjon="${s.posisjon}"
                             th:data-start-posisjon="${s.getForrigePosisjon(sisteTrekk)}"
                             th:style="'background-color: ' + ${s.farge ?: 'red'}">
                             <span th:text="${#strings.substring(s.navn,0,1)}"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
		<script th:src="@{/spill.js}"></script>
	</body>
</html>